@import url('https://fonts.googleapis.com/css2?family=Lato');

*{
    margin: 0;
    padding: 0;
}

:root{
    --white: #fff;
    --dark1: #3e4147;
    --dark2: #2a2c31;
    --dark3: #3e3e53;
    --dark4: #b7aea5;
    --dark5: #0d0c0c;
    --cyan1: #0ec0c1;
}
::-webkit-scrollbar{
    width: 10px;
}
::-webkit-scrollbar-track{
    background: var(--dark1);
}

::-webkit-scrollbar-thumb{
    background: var(--dark4);
}

::-webkit-scrollbar-thumb:hover{
    background: var(--dark3);
}

body{
    background-color: var(--dark2);
    height:100vh;
    font-family: 'Lato';
}

header{
    display: flex;
    justify-content: space-around;
    align-items:center;
    gap: 1rem;
    flex-wrap: wrap;
    padding: .8rem;
    background-color: var(--dark5);
    min-height: 50px;
}

.box-img-header{
    height: 100%;
}
.img-logo{
    max-width: 60px;
    height: 100%;
}

nav{
    display: flex;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.nav-links{
    text-decoration: none;
    color: var(--white)
}
.nav-links:hover{
    color: var(--dark3);
    transition: .4s;
    text-decoration: underline;
}

.box-btn-actions{
    display: flex;
    gap: .1rem;
}

:is(button,.link-action){ 
    padding: .6rem;
    font-size: .9rem;
    border-radius: 6px;
    cursor: pointer;
    transition: .4s;
}

.btn-action{
    background-color: transparent;
    border: 1px solid var(--white);
    color: var(--white);
}

.btn-action:hover{
    background-color: var(--dark1);
    border: 1px solid var(--dark1);
}

.link-action{
    text-decoration: none;
    width: 200px;
    text-align: center;
}

main{
    display: flex;
    flex-direction: column;
    gap: 2rem;

}

section{
    padding: 4rem;
}

.first-section{
    display: flex;
    justify-content: space-evenly;
    gap: 2rem;
    flex-wrap: wrap;
    align-items: center;
    min-height: 650px;
}

.first-section > div{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    min-width: 300px;
}

h1{
    font-size: 4rem;
    color: var(--white);
    letter-spacing: 8px;
}

strong{
    color: var(--cyan1);
}

.first-section{
    color: var(--white);
}
.box-img-main{
    max-width: 450px;
    padding: 1rem;
}

.img-profile{
    border-radius: 70%;
    width: 100%;
}

:is(.second-section,.fourth-section){
    background-color: var(--dark3);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.second-section ul{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
}

.second-section ul li{
    color: var(--dark4);
    letter-spacing: 2px;
    font-weight: bold;
}

.second-section ul li:hover{
    color: var(--dark5);
    transition: 2s;
    cursor: default;
}

.title{
    color: var(--white);
}

.third-section{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.third-section > div{
    display: flex;
    gap: 4rem;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.third-section > div img{
    width: 200px;
    border-radius: 10px;
}

.third-section > div p{
    max-width: 600px;
    color: var(--white);
    text-align: justify;
}

footer{
    padding: 4rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

footer > div{
    display: flex;
    justify-content: center;
    gap: 2rem;
    flex-wrap: wrap;
}

#my-projects-list{
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
    padding: 2rem;
    justify-content: center;
    align-items: center;
}

#my-projects-list a{
    text-decoration: none;
    color: var(--dark5);
}

#my-projects-list a:hover{
    color: var(--dark4);
    transition: 2s;
    cursor: pointer;
}

:is(.img-profile,.img-who-am-i){
    box-shadow: 1px 1px 1px 1px var(--cyan1);
}